* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: white;
  color: grey;
}

.booklist {
  width: 250vw;
  max-width: 1800px;
  margin: 5rem auto;
  display: grid;
  gap: 4rem;
}

@media screen and (min-width: 900px) {
  .booklist {
    grid-template-columns: repeat(3, 1fr);
  }
}

.book {
  border-radius: 2rem;
  padding: 1rem 2rem;
}

.book h1 {
  margin-top: 0.5rem;
}

.book h4 {
  margin-top: 0.25rem;
  color: #617d98;
}
